@import './reset.scss';
@import './normalize.scss';

$lineHeight: 1.66;

/* Root Styles */
html {
  font-size: 16.5px;
  line-height: $lineHeight;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Ubuntu, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  line-height: $lineHeight;
}

* {
  box-sizing: border-box;
}
